In [1]:
import numpy as np
import pandas as pd

In [2]:
numeric_cols = ['AGE', 'AMENDYR', 'AMTTOTAL', 'DRUGMIN', 'METHMIN', 'MWEIGHT', 'NODRUG',
               'NUMDEPEN', 'PROBATN', 'REGEXMIN', 'RELMIN', 'SENSPCAP', 'SENSPLT0',
               'SMAX1', 'SMIN1', 'STATMAX', 'STATMIN', 'SUPERMAX', 'SUPERMIN', 'SUPREL',
                'TIMESERVC', 'TOTCHPTS', 'TOTREST', 'TOTUNIT','MWGT1', 'WGT1', 'XFOLSOR',
                'XMAXSOR', 'XMINSOR'
               ]

categorical_cols = ['ACCGDLN', 'ALTDUM', 'CASETYPE', 'CITWHERE', 'COMBDRG2', 'CRIMHIST', 
                   'DISPOSIT', 'DISTRICT', 'DSPLEA', 'EDUCATN', 'INTDUM', 'MONRACE',
                   'MONSEX', 'NEWCIT', 'NEWCNVTN', 'NEWEDUC', 'NEWRACE', 'OFFGUIDE', 
                   'PRISDUM', 'PROBDUM', 'QUARTER', 'REAS1', 'REAS2', 'REAS3', 'RESTDET1',
                   'RESTDUM', 'SAFE', 'SAFETY', 'SENTIMP', 'SOURCES', 'SUPRDUM', 'TYPEMONY',
                    'TYPEOTHS', 'UNIT1', 'XCRHISSR', 'SENTRNGE'
                   ]

In [5]:
df = pd.read_csv('Claire/data/drugs_2020_simply_imputed.csv')

In [10]:
df = df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1', 'AMENDYR'])

In [11]:
df.head()

,ACCGDLN,AGE,ALTDUM,AMTTOTAL,CASETYPE,CITWHERE,COMBDRG2,CRIMHIST,DISPOSIT,DISTRICT,...,TYPEMONY,TYPEOTHS,UNIT1,MWGT1,WGT1,XCRHISSR,XFOLSOR,XMAXSOR,XMINSOR,SENTRNGE
0,1.0,20.0,0,0,1.0,211.0,6.0,1.0,1,43,...,1.0,0,1.0,6.356099e+07,85104.433315,1.0,17.0,30.0,24.0,8.0
1,1.0,64.0,0,0,1.0,211.0,1.0,1.0,1,51,...,1.0,0,1.0,1.193400e+06,5967.000000,3.0,27.0,108.0,87.0,0.0
2,1.0,28.0,0,0,1.0,211.0,3.0,1.0,1,48,...,1.0,0,2.0,2.000000e+06,2000.000000,6.0,27.0,162.0,130.0,2.0
3,2.0,55.0,0,0,1.0,211.0,77.0,1.0,1,65,...,1.0,0,1.0,1.030000e+04,4.120000,5.0,13.0,37.0,30.0,0.0
4,1.0,30.0,0,0,1.0,211.0,6.0,1.0,1,87,...,1.0,0,1.0,1.692000e+05,84.600000,6.0,25.0,137.0,110.0,2.0

In [12]:
df.columns = [col.lower() for col in df.columns]

In [13]:
df.head()

,accgdln,age,altdum,amttotal,casetype,citwhere,combdrg2,crimhist,disposit,district,...,typemony,typeoths,unit1,mwgt1,wgt1,xcrhissr,xfolsor,xmaxsor,xminsor,sentrnge
0,1.0,20.0,0,0,1.0,211.0,6.0,1.0,1,43,...,1.0,0,1.0,6.356099e+07,85104.433315,1.0,17.0,30.0,24.0,8.0
1,1.0,64.0,0,0,1.0,211.0,1.0,1.0,1,51,...,1.0,0,1.0,1.193400e+06,5967.000000,3.0,27.0,108.0,87.0,0.0
2,1.0,28.0,0,0,1.0,211.0,3.0,1.0,1,48,...,1.0,0,2.0,2.000000e+06,2000.000000,6.0,27.0,162.0,130.0,2.0
3,2.0,55.0,0,0,1.0,211.0,77.0,1.0,1,65,...,1.0,0,1.0,1.030000e+04,4.120000,5.0,13.0,37.0,30.0,0.0
4,1.0,30.0,0,0,1.0,211.0,6.0,1.0,1,87,...,1.0,0,1.0,1.692000e+05,84.600000,6.0,25.0,137.0,110.0,2.0

In [14]:
df.to_csv('Claire/data/drugs_2020_simply_imputed.csv', index = False)